
#content {
	margin-left: 15%;
	margin-right: 15%
}

.jumbotron {
	background-color: #b3daff;
	text-align: center;
	color: red;
	font-family: "Times New Roman", Times, serif;

}

body {
	font-family: "Times New Roman", Times, serif;
}

